/* Shared styles */
.source {
    font-style: italic;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container-green,
.container-yellow,
.container-red,
.container-no {
    margin: auto;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    font-size: 1.4rem;
    padding: 2rem 4rem;
    grid-template-areas:
        'isEdible isEdible'
        '. .';
}
.container-green .column-card,
.container-yellow .column-card,
.container-red .column-card,
.container-no .column-card {
    border-radius: 8px;
    padding: 2rem 2rem 2.3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    text-align: start;
}
.container-green .column-card.isEdible,
.container-yellow .column-card.isEdible,
.container-red .column-card.isEdible, 
.container-no .column-card.isEdible {
    font-weight: bolder;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 2rem 1rem 2rem;
}
.container-green h3,
.container-yellow h3,
.container-red h3,
.container-no h3 {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.container-green .source a:hover,
.container-yellow .source a:hover,
.container-red .source a:hover,
.container-no .source a:hover {
    font-weight: bold;
}

/* Green version */
.container-green {
    color: #F7F6BB;
}
.container-green .column-card {
    background-color: #526714;
}
.container-green .column-card.isEdible {
    color: #F7F6BB;
}
.container-green h3 {
    color: #F7F6BB;
}
.container-green .source {
    color: #FCDC2A;
}
.container-green .source a:hover {
    color: #114232;
}
.container-green .veggieName {
    color: #FCDC2A;
}

/* Yellow version */
.container-yellow {
    color: #114232;
}
.container-yellow .column-card {
    background-color: #FCDC2A;
}
.container-yellow .column-card.isEdible {
    color: rgb(175, 88, 8);
}
.container-yellow h3 {
    color: rgb(175, 88, 8);
}
.container-yellow .source a:hover {
    color: rgb(175, 88, 8);
}
.container-yellow .veggieName {
    color: #114232;
}

/* Red version */
.container-red {
    color: #F7F6BB;
}
.container-red .column-card {
    background-color: #FA7070;
}
.container-red h3 {
    color: #ffe65c;
}
.container-red .source a:hover {
    color: #114232;
}
.container-red .veggieName {
    color: #F7F6BB;
}

/* No answer version */
.container-no {
    color: #F7F6BB;
    text-align: center;
}
.container-no .column-card {
    background-color: #FA7070;
}
.container-no h3 {
    color: #ffe65c;
}
.container-no .column-card.isEdible{
    color: #F7F6BB;
}
.container-no .source {
    color: #FCDC2A;
}
.container-no .source a:hover {
    color: #114232;
}

/* Grid areas*/
.howMuch {
    grid-area: howMuch;
}
.isEdible {
    grid-area: isEdible;
}
.recoNotes {
    grid-area: recoNotes;
}