/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap'); */

.nav {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: var(--accent-main);
    color: var(--font-light);
}

.nav .logo-container {
    display: flex;
    gap: 1rem;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.nav .logo-container:hover, .nav .nav-items-container .nav-item:hover{
    scale: 1.1;
    transition-duration: 0.2s;
    font-weight: 600;
}
.nav-items-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    font-size: 1.3rem;
    /* font-family: "Caveat", cursive; */
    font-optical-sizing: auto;
    font-style: normal;
}