/* Intro section */
.intro {
    text-align:center;
    font-size: 1.8rem;
    padding: 3rem 5rem 0rem 5rem;
}

/* Most searched foods section */
.pop-questions {
    padding: 3rem 5rem 3rem 5rem;
    font-size: 1.5rem;
}
.pop-questions li {
    list-style-type: circle;
}

.results {
    padding: 3rem 2rem 3rem 2rem;
    text-align: center;
}