/* Spinner container */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    
}

/* Intro section */
.intro {
    text-align:center;
    font-size: 1.8rem;
    padding: 3rem 5rem 3rem 5rem;
    color: black;

}

/* Most searched foods section */
.pop-questions {
    /* border: 1px solid red; */
    padding: 3rem 2rem 3rem 3rem;
    font-size: clamp(1.5rem, 3.5vw, 2.5rem);
    font-weight: 700;
    background-color: var(--bg-main);
    color: var(--font-dark);
    font-family: Caveat, Arial, Helvetica, sans-serif;
}
.pop-questions li {
    list-style-type: circle;
    font-style: italic;
}

.pop-questions li:hover a{
    /* color: var(--font-light); */
    border-bottom: 2px solid var(--font-dark);
}

.results {
    padding: 3rem 2rem 3rem 2rem;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .results {
        padding: 0;
    }

}