.container {
    /* border: 1px solid red; */
    font-family: Caveat, sans-serif;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-top: auto;
    width: 100%;
    background-color: #114232;
    color: #F7F6BB;
}

.copyright {
    font-family: Caveat, sans-serif;
    background-color: #114232f1;
    color: #F7F6BB;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;

}