.container {
    font-family: Caveat, Arial, Helvetica, sans-serif;
    padding: 3rem 2rem 3rem 2rem;
    font-size: 2rem;
    font-weight: 700;
    /* border-radius: 8px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* background-color: #FCDC2A; */

}