@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
  background-size: contain;
}



/* *::-webkit-scrollbar {
  border-radius: 8px;
  background-color: #F7F6BB;
}
*::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: #114232;
}
*::-webkit-scrollbar-thumb:hover{
  border-radius: 8px;
  background-color: #87A922;
} */
/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: light;
  min-width: 90vw;

}

/* min body height */
body {
  /* min-height: 80vh; */
  /* background: linear-gradient(180deg, rgba(128,136,54,1) 50%, rgba(49,132,210,1) 100%); */
  background-color: var(--bg-main);
  /* min-width: 100%; */
  
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Remove list-style of ul */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* color vars */