@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
/* makes sizing simpler */
*, *::before, *::after {
  box-sizing: border-box;

  /* color vars */
  --accent-main: #B1AFFF;
  --bg-main: #FDFDBD;
  --bg-secondary: #C8FFD4;
  --font-dark: black;
  --font-dark-accent: #9e72f0;
  --accent-secondary: #B8E8FC;
  --font-light: #FDFDFD;
  --bg-high-reco: #2E8B57 ;
  --bg-medium-reco: #FFB800;
  --bg-low-reco: #FF9933 ;
  --bg-not-reco: #CD5C5C;
}
/* *::-webkit-scrollbar {
  border-radius: 8px;
  background-color: #F7F6BB;
}
*::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: #114232;
}
*::-webkit-scrollbar-thumb:hover{
  border-radius: 8px;
  background-color: #87A922;
} */
/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  /* color-scheme: dark light; */
}

/* min body height */
body {
  /* min-height: 80vh; */
  /* background: linear-gradient(180deg, rgba(128,136,54,1) 50%, rgba(49,132,210,1) 100%); */
  background-color: var(whitesmoke);
}

/* responsive images/videos */
img, picture, svg, video {
  display: block;
  max-width: 100%;
}

/* Remove list-style of ul */
ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

/* color vars */
